
@{
    ViewBag.Title = "About";
}

<h2>About</h2>


<h1>ViewBag</h1>
<p>@ViewBag.Name</p>
<p>@ViewBag.Class</p>
<p>@ViewBag.City</p>

<h1>ViewData</h1>
<p>@ViewData["Name"]</p>
<p>@ViewData["Class"]</p>
<p>@ViewData["City"]</p>

<h1>TempData</h1>
<p>@TempData["Name"]</p>
<p>@TempData["Class"]</p>
<p>@TempData["City"]</p>